## Print HelloWorld

In [1]:
print("HelloWorld")

HelloWorld

In [3]:
print('Hello')

Hello

In [ ]:
print("Hello')

In [5]:
print("Hello")
print("Hello")

Hello
Hello

## Variables

Variable name can start only either with uppercase or lowercase or underscore.

But variable name can have digits in between the name.

In [10]:
a=10
b=20
sum=a+b
print(sum)
a*b #last line of cell is for output of that cell.

30

200

In [14]:
abc=10
Abc=20
A1c=5
_abc=65

### Assigning different type of data to a variable

In [16]:
a=10
a=20
a="amazed?"
print(a)

amazed?

##### type() command is used to determine the data type of a variable.

In [18]:
x="abc"
print(type(x))

x=123
print(type(x))

x=12.0
print(type(x))

x='a'
print(type(x))

x=True
print(type(x))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

### Python Numbers

In [19]:
a=10
b=20.0
c= 1+2j

print(a)
print(b)
print(c)
print(type(c))

10
20.0
(1+2j)
<class 'complex'>

#### id() command gives a unique number associated with the storage that variable is referrenccing to.

In [20]:
a=10
print(id(a))

a=a+1
print(id(a))

140723770126880
140723770126912

In [26]:
a=10
b=10
print(id(a))
print(id(b))  # Two integers having same value will point to the same storage.

140723770126880
140723770126880

In [23]:
a=a+1
print(id(a))
print(id(b))  # 'a' is referencing to different storage now, but 'b' will still refer to previous stirage.

140723770126944
140723770126880

In [25]:
p=1000
q=1000

print(id(p))
print(id(q))  # Integers within the range of "-5 to 256" will point to same storage.

2236650342736
2236650342640

### Limit of Integers
#### In Python, there is no limit to how big a number can store. It depends on how much memory is allocated to Python program.

### Arithmetic Operators:

In [31]:
a=10
b=5
print(a+8)
print(10-3.4)
print(10/2.5)
print(10//3.5)

18
6.6
4.0
2.0

In [32]:
a=10
b=4

In [43]:
print(a/b) # Flaoting point division

2.5

In [45]:
print(a//b) # Integer division

2

In [47]:
print(a**b) # Exponentiation

10000

In [48]:
print(a%b) #Modulus

2

In [50]:
2+3*4 # 14 or 20?

14

In [46]:
2*3/4 # doesn't matter which operation done first

1.5

In [40]:
2*3//4 # multiplication done first

1

In [42]:
2*6/4 # multiplication done first

3.0

In [52]:
# Simple interest to lower integer

p=100
r=12
t=3
si=(p*r*t)//100

print(si)

36

In [ ]:
# Fehreneit to Celsius conversion

f=100
c= (f-32)*5/9
print(c)
ci= (f-32)*5//9
print(ci)