In [1]:
a= (1,2,3)
b= (4,5)

In [2]:
# forLoop
for item in a:
    print(item)

1
2
3

In [4]:
#checking membership
print(1 in a)
print(1 in b)

True
False

In [5]:
#length of a tuple
len(a)

3

In [6]:
#concatenation of tuples
c= a+b
print(c)

(1, 2, 3, 4, 5)

In [7]:
print(c[2])
print(c[3])

3
4

In [8]:
x= (1,2,3,4,5)
y= (4,5,6,7)

z= x+y
print(z)

(1, 2, 3, 4, 5, 4, 5, 6, 7)

In [9]:
#tuple of tuples
d= (a,b)
print(d)

((1, 2, 3), (4, 5))

In [10]:
print(d[0])
print(d[1])

(1, 2, 3)
(4, 5)

In [11]:
#repetition
e= a*4
print(e)

(1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3)

In [12]:
#min and max
print(min(a))
print(max(a))

1
3

In [14]:
a2= (1, 1.2)
print(min(a2))

1

In [15]:
a2= (1,2,'str',(5,6))
print(min(a3))

NameError: name 'a3' is not defined

In [16]:
#conversion: List to Tuple
li= [1,2,3,4,5,6,7,8,9]
tup= tuple(li)
print(tup)

(1, 2, 3, 4, 5, 6, 7, 8, 9)